img{
  padding: 5px;
  border: 1px solid #A9A9A9;
}

li{
	color: #545454;
}

#udemy .container{
  max-width: 600px;
}

.my-flex-box{
  max-width: 100%;
  height: auto;
  padding: 20px;
}

.counter-item{
  height: 20px;
  width: auto;
  background-color: #cccccc;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffeedd;
    color: #545454;
    text-align: center;
}
