/* light FFFCF2
light greay CCC5B9
brown grey 403D39
dark 252422
red 6a040f
 */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body {
  font-family: 'Rajdhani';
}

.row .flex-row{
 padding: 40px;
 margin-left: 10%;
 margin-right: 10%;
}

.container-fluid {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.background {
  width: 100%;
  margin: 0;
  background-color: #FFFCF2;
}


p {
  font-size: 18px;
  text-align: left;
}

h1{
  font-weight: 800;
  color: #403D39;
}

h3 {
  font-weight: 600;
  text-align: left;
  color: #252422;
}

h6 {
  color: #000;
  text-align: center;
}


a {
  text-align: center;
}

li{
	color: #403D39;
}

.btn {
  background-color: rgba(106, 4, 15, 0.3);
  text: #ffffff !important;
}

.header {
  align-content: flex-start;
}

.navbar{
  width: 100%;
  background-color: rgba(204, 197, 185, 0.3);
  height: 80px;
}

.navbar-nav {
  color: #252422;
}

.nav-link {
  color: rgba(204, 197, 185, 0.3);
  justify-content: space-between;
}

.navbar a li{
  justify-content: space-between;
}

.navbar ul {
  word-wrap: normal;
}

#main {
  max-width: 100%;
}

.iconify {
  justify-content: space-between;
  text-align: center;
  color: #6a040f;
  width: 60px;
  height: auto;
  margin: 10px;
}

.img-fluid{
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 5px;
  display: block;
  height: auto;
  max-width: 480px;
}

img {
  border-radius: 5px;
}

.description {
  margin-top: 40px;
}

.footer {
    background-color: #6a040f;
    border-top: 2px solid #403D39;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100px;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #FFFCF2; */
    color: #FFFCF2;
    text-align: center;
    z-index: 1;

}

@media screen and (max-width: 320px){

  .skills {
    display: none;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
  .skills {
    display: none;
  }

}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {

  .skills {
    display: none;
  }

 }

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
  .iconify {
    justify-content: space-between;
    text-align: center;
    color: #6a040f;
    width: 20px;
    height: auto;
    margin: 5px;
  }
 }

/* ipads */
 @media screen and (max-width: 1024px) {


}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1366px) {


 }
