/*

font-family: 'Lato', sans-serif;
font-family: 'Nanum Gothic Coding', monospace;

 */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nanum+Gothic+Coding&display=swap');

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

#main {
  max-width: 100vh;
}

.container-fluid {
  width: 100%;
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.background {
  width: 100%;
  margin: 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: left;
  color: #051923;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #403D39;
}

h3 {
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 700;
  text-align: left;
  color: #051923;
  position: relative;
  line-height: 1.5em;
}

h6 {
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 400;
  color: #003554;
  text-align: center;
  vertical-align: bottom;
}

#icons .row {
  max-height: 40px;
}

#icons .img-fluid {
  max-width: 100px;
  min-width: 30px;
}

.header {
  min-width: 320px;
}

hr {
  border: 1px solid #003554;
  position: absolute;
  margin-left: 142px;
  /* margin-right: auto; */
  /* line-height: 1.75em; */
  bottom: 0;
  width: 100%;
}

a {
  text-align: center;
}

li {
  color: #051923;
  line-height: 18px;
}

.navbar {
  background-color: #E8E8E8;
  height: 80px;
  Width: 100%;
  justify-content: center;
  text-align: center;
}


#collapsibleNavbar .navbar-collapse {
  margin-top: -60px;
}


.dropdown-item {
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 500;
  color: #051923;
}

.nav-link {
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 500;
  color: #051923;
}

a {
  color: #051923;
}

.nav-item {
  justify-content: space-between;
  color: #051923;
  font-weight: 800;
}

.navbar ul {
  word-wrap: normal;
  color: #051923;
}

.iconify {
  justify-content: space-between;
  text-align: center;
  color: #003554;
  width: 60px;
  height: auto;
  margin: 10px;
}


#fixed-right .container-fluid{
  justify-content: flex-start;
}

#fixed-left .container-fluid{
  justify-content: flex-end;
}

#fixed-right .row {
  background: linear-gradient(90deg, rgba(5,25,35,0), rgba(5,25,35,.5));
  width: 80%;
  margin-left: 25%;
  right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

#fixed-left .row {
  background: linear-gradient(90deg, rgba(5,25,35,.5), rgba(5,25,35,0));
  width: 80%;
  margin-right: 50%;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-fluid {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  display: block;
  height: auto;
  min-width: 280px;
  max-width: 480px;
}

.img-wrap {
  display:block;
  position: relative;
  min-width: 280px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}


.overlay {
  display: block;
  position: relative;
  min-width: 280px;
  max-width: 480px;
  height: auto;
  bottom: 0;
  position: absolute;
  opacity: 0;
  transition: .5s ease;
}

.img_text{
  display: block;
  position: absolute;
  text-align: center;
  font-style: 'Lato', sans-serif;
  color: white;
  font-size: 40px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.img_wrap:hover .overlay {
  opacity: 1.0;
}

.description {
  margin-left: 20px;
  justify-content: flex-start;
}

#about .img-wrap {
  max-width: 240px;
  float: center;
}

#intro .header {
  margin-top: 40px;
}

#about img {
  margin-bottom: 10px;
  display:block;
}

#about .description {
  margin-top: 40px;
}

text {
  display: block;
  color: #051923;
  padding: 10px;
  font-size: 12px;
  line-height: 16px;
}

italic {
  color: #6D6D6D;
  font-size: 12px;
  padding: 10px;
}



#projects #about .description {
  margin-left: 20px;
  justify-content: left;
}

#badge .container {
  text-align: center;
  align-items: center;
}

.badge {
  padding: 5px;
  justify-content: space-around;
  background-color: #F4F4F4;
}

#contact .container-fluid {
  max-width: 320px;
  align-content: flex-start;
}

.contact .iconify {
  align-content: center;
  color: #003554;
  width: 30px;
  height: auto;
  margin: 15px;
  margin-bottom: 0;
}

.contact p {
  padding: 0;
  text-align: center;
  font-size: 15px;
}

.credits text{
  font-style: italic;
  color: #6D6D6D;
  display: block;
  padding: 10px;
  font-size: 12px;
  line-height: 16px;
}


/* col-xs
portrait phones */
@media (max-width: 575.98px) {

  .row {
    flex-wrap: wrap;
  }

  #icons.container-fluid {
    display: none;
  }

  #image2 img {
    display: none;
  }

  .description {
    margin-top: 20px;
  }

}


/* col-sm
landscape phones */
@media (max-width: 767.98px) {

  .skills {
    transform: scale(0.7);
    padding: scale(0.7);
  }

  #image2 img {
    display: none;
  }

  .description {
    margin-top: 20px;
  }
}

/* col-md
tablets*/
@media (max-width: 991.98px) {

  .img-fluid {
    max-width: 260px;
  }

  .skills {
    transform: scale(0.7);
    padding: scale(0.7);
  }

  .description {
    margin-top: 20px;
  }

  #image2 img {
    display: none;
  }

}

/* col-lg
desktops */
@media (max-width: 1199.98px) {


  .navbar {
    width: 100%;
  }

  .row {
    flex-wrap: nowrap;
  }
}
